@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
body{

    margin: 0 auto;
    font-family: "Geist", sans-serif;
}
html{
    scroll-behavior: smooth;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
html, body {
    overflow-x: hidden;
    width: 100%;
    max-width: 1920px;
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}
* {
    box-sizing: inherit;
}
h4 {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
address{
    font-style: normal;
}
:root{
    --prymary: #FF8B3A;
    --back: #242424;
    --gray: #F1F1F1;
}
p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
a{
    color: #282828;
    text-decoration: none;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.geist_variable {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'logo_font';
    src: url(./fonts/HaloGrotesk-Regular.otf);
}

.contct_container{
    gap: 1.25vw;
}
.contct_container button{
    display: flex;
    gap: 0.5vw;
    align-items: center;

}
.header_content_container {
    max-width: 83vw;
    margin: 0 auto;
    justify-content: space-between;
    display: flex
;
    padding: 1.45vw 0vw;
        align-items: center;

}
.information_articless{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.information_articless {
    display: flex
;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
height: 14vw;
}


.letf_side_header{
    display: flex;
    align-items: center;
}
.contct_container{
    display: flex;
    align-items: center;
}

.navigation ul{
    display: flex;
    align-items: center;
    gap: 1.25vw;
    padding-inline-start: 1.5vw;
}
.navigation ul li{
    list-style: none;
}
.header_container{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: #333;
    position: relative;
    z-index: 10;

}

.navigation ul li a{
    font-size: 1.04vw;
    transition: all 0.2s ease;
    font-weight: 400;
}
.logo_font{
    padding-top: 0.3vw;
    font-size: 1.6vw;
    font-family: 'logo_font';
}
.orange_state{
    color: var(--prymary);
    transition: all 0.2s ease;
}
.orange_state:hover{
    text-decoration: underline;
}
.orange_state:active{
    opacity: 0.5;
}
.opacity_change_hader{
    opacity: 0.65;
}
.opacity_change_hader:hover{
    opacity: 1;
}
.opacity_change_hader:active{
    opacity: 0.2;
}

.phone_contact address a{
    font-style: initial;
    font-size: 1.04vw;
    transition: all 0.2s ease;
}

.chat_contact p{
        font-size: 1.04vw;
}
.contct_container button{
    cursor: pointer;
    background-color: var(--prymary);
    color: white;
    border: none;
    border-radius: 1.25vw;
    padding: 0.83vw 1.25vw;
    transition: all 0.3s ease;
}
.white_color{
    background-color: transparent !important;
}
.phone_contact address a:hover{
    color: var(--prymary);
}

.chat_contact:hover{
    background-color: #ff8c3ac9;
}
.chat_contact:active{
    background-color: #ff8c3a;
}
.chat_contact img,
.phone_contact img{
    width: 1.04vw;
}


.logo_burger{
    display: flex;
    align-items: center;

}

.logo_burger img{
        padding-right: 1.92vw;
        display: none;
}
.mobile_header_navigation{
    display: none;
}

.main_container_hero{

    max-width: 57vw;
    margin: 0 auto;
    padding-top: 11.77vw;
}
.hero_block{
        position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title_text h1{
font-size: 3.125vw;
    font-weight: 600;
    line-height: 3vw;
    margin-block-start: 0em;
    margin-block-end: 0em;
 font-family: "Manrope", sans-serif;
 padding-bottom: 0.83vw;
}
.title_text p{
    font-size: 1.04vw;
}

.orange_state_stae{
    color: var(--prymary) !important;
}
.back_oranghe{
    background-color: var(--prymary) !important;
    transition: all 0.2s ease;
}

.buttons_contact{
    padding-top: 1.25vw;
    display: flex;
    align-items: center;
    gap: 1.04vw;
}

.buttons_contact button{
    cursor: pointer;
    padding: 0.83vw 1.25vw;
    border-radius: 1.25vw;
    border: none;
    font-size: 1vw;
    color: white;
    background-color: var(--back);
    font-family: "Geist", sans-serif;
    font-weight: 400;
    transition: all 0.2s ease;
}

.back_oranghe:hover{
    background-color: #ff8c3aa6 !important;
}
.back_oranghe:active{
    background-color: #ff8c3a !important;
}
.balack_hover_button:hover{
    background-color: #282828a2 !important;
}

.balack_hover_button:active{
    background-color: #282828 !important;
}

.textur_bur {
    opacity: 0.5;
    z-index: 2;
    top: 90%;
    margin-top: -53%;
    width: 94vw;
    margin-left: -50%;
    position: relative;
}
.textures_block{
    position: absolute;
}
.blocks_aercles{
        position: absolute;
}

.blocks_aercles img {
    z-index: 0;
    margin-top: -9%;
    width: 79vw;
    margin-left: 39%;
    position: relative;
}


.squeare {
    overflow: hidden;
    width: 150%;
    z-index: 10;
    height: 50vw;
    background: #ffffff;
    position: relative;
    margin: -149px;
    filter: blur(7vw);
    margin-top: 11vw;
}

.block_about_us{
    position: relative;
    z-index: 30;
    margin-top: -32vw;
    padding-bottom: 8vw;
}
.about_container{
    max-width: 83vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.button_consultation {
    cursor: pointer;
    padding: 0.83vw 1.25vw;
    border-radius: 1.65vw;
    border: none;
    max-width: 9.8vw;
    font-size: 1vw;
    color: white;
    background-color: var(--prymary);
    font-family: "Geist", sans-serif;
    font-weight: 400;
    transition: all 0.2s ease;
}


.button_consultation:hover{
    background-color: #ff8c3ac9;
}
.button_consultation:active{
    background-color: #ff8c3a;
}

.text_about_us h2{
    font-size: 2.08vw;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    letter-spacing: -0.1vw;
    padding-bottom: 0.83vw;
}
.text_about_us p{
    font-size: 1vw;
        font-family: "Manrope", sans-serif;
    font-weight: 400;
}

.left_text_block{
    display: flex;
    flex-direction: column;
        height: 20.83vw;
        justify-content: space-between;
}

.right_side_about{
    height: 100%;

}
.right_side_about img{
    object-fit: cover;
    height: 21vw;
    width: 54vw;
    border-radius: 1vw;
}

.first_line_abiut_us{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.second_line_about_us{
    padding-top: 2.5vw;
    max-width: 83vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.block_ours_work{
    gap: 3vw;
    padding-top: 2.5vw;
    max-width: 83vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.picture_text_about_img_our_works{
    width: 42.5vw;
    height: 46vw;
    object-fit: cover;
    border-radius: 1vw;
}
.picture_text_about_img{
    width: 42.5vw;
    height: 24vw;
    object-fit: cover;
    border-radius: 1vw;
}
.picture_text_about_img_second_our_works{
        width: 37vw;
    height: 32vw;
    object-fit: cover;
    border-radius: 0.8vw;
}
.picture_text_about_img_second {
    width: 37vw;
    height: 17vw;
    object-fit: cover;
    border-radius: 0.8vw;
}
.text_about_us_up{
    padding-top: 0.83vw;
    display: flex;
    justify-content: space-between;
}
.text_about_us_up h3 {
    font-size: 1.56vw;
    font-weight: 500;
    line-height: 1.6vw;
    letter-spacing: -0.05vw;
    font-family: "Manrope", sans-serif;
}
.text_about_us_up p {
    font-size: 1.20vw;
    font-weight: 300;
    line-height: 1.3vw;
}

.advanteges_container{
    max-width: 83vw;
    margin: 0 auto;
    padding-bottom: 10vw;
}
.tittle_text_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tittle_text_block p{
    text-align: center;
    font-size: 1vw;
    padding-bottom: 1.6vw;
}
.content_card_advantages img{
    width: 3.75vw;
}
.card_advantages{
    background-color: var(--gray);
    border-radius: 1.5vw;
}
.card_information{
    padding-top: 2.6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content_card_advantages{
    padding: 2.6vw;
}
.card_advantages{
    height: 21.51vw;
}
.icons_for_card_advantagess{
    padding: 1.25vw;

}
.icons_for_card_advantagess img{
    float: right;
    width: 3.75vw;
}
.title_of_card_advantages{
    padding-top: 1vw;
    padding-bottom: 1.25vw;
    font-size: 1.5vw;
    color: var(--prymary);
    font-family: "Geist", sans-serif;
    font-weight: 500;
    line-height: 1.5vw;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.content_card_advantages p{
    font-size: 0.93vw;
    font-family: "Manrope", sans-serif;
}
.tittle_text_block h3{
    font-size: 3.15vw;
    font-family: "Manrope", sans-serif;
    padding-bottom: 0.83vw;
}
.article_container_{
    max-width: 83vw;
    margin: 0 auto;
}
.title_block_article{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.titile_bloks__{
    font-size: 3.125vw;
    letter-spacing: -0.09vw;
    line-height: 2.5vw;
    font-family: "Manrope", sans-serif;
}
.button_link_articles button{
    display: flex;
    align-items: center;
    border: none;
    letter-spacing: -0.04vw;
    gap: 0.52vw;
    border-radius: 1.55vw;
    background-color: var(--prymary);
    padding: 0.83vw 2.25vw;
    font-size: 1.25vw;
    color: white;
    font-family: "Geist", sans-serif;
    transition: all 0.2s ease;
}
.button_link_articles button:hover{
    background-color: #ff8c3ac9;
}
.button_link_articles button:active{
    background-color: #ff8c3a;
}

.button_link_articles{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.js_text{
    display: flex;
    font-size: 0.83vw;
    align-items: center;
    padding-bottom: 0.41vw;
    font-weight: 400;
}

.grid_item{
    background-color: var(--gray);
    border-radius: 1.56vw;
    height: 100%;
}
.item_content_container{
padding: 0.83vw 0.83vw 0.83vw 0.83vw;
}

.grid_container{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
}
.img_articles_links img {
    width: 100%;
    object-fit: cover;
    height: 10vw;
    border-radius: 1vw;
}
.grid_block_for_states{
    padding-top: 1.5vw;
}
.text_block_for_item_grid h3{
    font-size: 1.56vw;
    font-family: "Geist", sans-serif;
    font-weight: 600;
    padding-top: 0.83vw;
    padding-bottom: 0.41vw;

    margin-block-start: 0em;
    margin-block-end: 0em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.text_block_for_item_grid h4{

        font-size: 1.25vw;
        font-weight: 400;

        margin-block-start: 0em;
        margin-block-end: 0em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
}
.button_contiioerfnireog{
        padding-top: 1.25vw;
}
.link_on_articles {
    margin-left: auto;
    display: flex;
    align-items: center;
    border: none;
    letter-spacing: -0.04vw;
    gap: 0.52vw;
    border-radius: 1.55vw;
    background-color: var(--prymary);
    padding: 0.53vw 1vw;
    font-size: 1vw;
    color: var(--back);
    font-family: "Geist", sans-serif;
    transition: all 0.2s ease;
}

.link_on_articles:hover{
    background-color: #ff8c3ac9;
}
.link_on_articles:active{
    background-color: #ff8c3a;
}
.huhuhf{
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
}

.hhfuueioquhfr{
    gap: 0.6vw;
    padding-top: 0.83vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column !important;
}
.text_about_us_up h3 {
    font-size: 1.9vw;
    font-weight: 500;
    line-height: 1.6vw;
    letter-spacing: -0.05vw;
    font-family: "Manrope", sans-serif;
}
.jnwergiouou{
    padding-bottom: 2.5vw;
}
.content_tecnology_block{
    display: flex;
    gap: 1vw;
    align-items: center;
    justify-content: space-between;
}
.container_and_content_tecnology_block{
    padding-top: 2.5vw;
    width: 83vw;
    margin: 0 auto;
}
.item_teclogy_bl{
    background-color: var(--gray);
    border-radius: 1.56vw;
}
.content-tecnology{
    padding: 1vw;
    display: flex;
    gap: 1vw;
}

.text_tecnology_item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img_teclonogy__ img{ 
    border-radius: 1.3vw;
    height: 22.34vw;
    width: 21.77vw;
    object-fit: cover;
    border-radius: 1.25vw;
}
.text_of_tecnology h3{
    font-size: 1.56vw;
    padding-top: 1vw;
    font-family: "Geist", sans-serif;
    font-weight: 500;
    letter-spacing: -0.05vw;
    padding-bottom: 0.83vw;
}

.text_of_tecnology h5{
    font-size: 1vw;
    font-weight: 400;


        margin-block-start: 0em;
        margin-block-end: 0em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
}

#footer{
    padding-top: 13vw;
}

.portfolio_content{
    max-width: 83vw;
    margin: 0 auto;
}


.form button {
  border: none;
  background: none;
  color: #8b8ba7;
}
.form {
  --timing: 0.3s;
  --width-of-input: 260px;
  --height-of-input: 40px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-color: #2f2ee9;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
padding-inline: 0.4vw;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg,#fff);
  border: 2px solid var(--prymary);
}
.input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}

/* .form:focus-within {
  border-radius: var(--after-border-radius);
} */

input:focus {
  outline: none;
}
/* .form:focus-within:before {
  transform: scale(1);
} */

.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}
input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}
.form svg {
  width: 17px;
  margin-top: 3px;
}

.rgwreger{
        padding-top: 4vw;
}
#more_button{

    display: flex;
    align-items: center;
    border: none;
    letter-spacing: -0.04vw;
    gap: 0.52vw;
    border-radius: 1.55vw;
    background-color: var(--prymary);
    padding: 0.83vw 2.25vw;
    font-size: 1.25vw;
    color: white;
    font-family: "Geist", sans-serif;
    transition: all 0.2s ease;
}
#more_button:hover{
    background-color: #ff8c3ac9;
}
#more_button:active{
    background-color: #ff8c3a;
}

.search_article {
    cursor: pointer;
    background-color:#242424 !important;
    color: white !important;
    padding: 0.4vw 1vw;
    border-radius: 1vw;
}

.search_article:hover{
    background-color: #24242484;
}
.search_article:active{
    background-color: #242424;
}

.form button svg{
    color: #FF8B3A;
}

.blok_work_with {
    display: flex
;
    gap: 1vw;
    padding-top: 3vw;
    overflow-y: hidden;
    overflow-x: auto;
    align-items: center;
    justify-content: space-between;
}


.blok_work_with::-webkit-scrollbar {
  height: 1px; /* Высота скроллбара */
  opacity: 0; /* Полная прозрачность */
}
.item_work_our img{
width: 41vw;
    object-fit: cover;
    height: 23vw;
    border-radius: 1vw;
}
.item_work_our{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.text_about_our_work{
        width: 40vw;
}

.text_about_our_work h3{
    color: var(--prymary);
    font-size: 2vw;
      font-family: "Manrope", sans-serif;
      font-weight: 500;
}
.text_about_our_work p{
    padding-top: 0.5vw;
    font-size: 1.15vw;
    line-height: 2vw;
}

.opar{
    flex-direction: row-reverse !important;
}


.block_ours_work_potfolio{
    gap: 3vw;
    padding-top: 2.5vw;
    max-width: 83vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}


.line_under_title{
    height: 1px;
    width: 100%;
    background-color: var(--back);
    opacity: 0.3;
}
.title_block_article{
    padding-bottom: 1.25vw;
}
.controll_{
    padding-top: 1vw;
}
.controll_title{
    display: flex; 
    align-items: center;
    gap: 1vw;
}


.controll_title h3{
    font-size: 2vw;
    font-weight: 600;
}

.controll_ p{
    width: 70%;
    padding-top: 0.5vw;
    font-size:1vw;
}

.container_main-tecnolofy {
    display: flex;
    gap: 1vw;
    align-items: center;
}

.main_states_tecnology {
    padding: 1.25vw 0;
}

.container_main-tecnolofy a {
    position: relative; 
    display: inline-block;
}
.container_main-tecnolofy a{
    border: 2px solid transparent;
    transition: all 0.3s ease;
        border-radius: 1vw;
}
.container_main-tecnolofy a img {
    height: 12.5vw;
    width: 27vw;
    object-fit: cover;
    border-radius: 0.8vw;
    display: block; 
}

.container_main-tecnolofy a:hover {
    border: 2px solid var(--prymary);
}

.container_main-tecnolofy a:active {
    border: 2px solid #ff8c3ac5;
}

.text_block_ofarticles {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.7vw;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    box-sizing: border-box;
    border-radius: 0vw 0vw 1vw 1vw;
}

.text_block_ofarticles h3 {
    font-size: 1.25vw;
    font-family: "Geist", sans-serif;
    font-weight: 600;
    margin: 0; /* Убираем стандартные отступы */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


.main_container_article{
    max-width: 73vw;
    margin: 0 auto;
}
.block_read_next{
    padding-top: 3vw;
}
.grid_items_read_next{
    display: flex;
    align-items: center;
    gap: 1vw;
    justify-content: space-between;
}

.opajjdbe{
    padding-top: 1vw;
}
.iooijef{
    padding-bottom: 1vw;
    font-size: 2.125vw;
    letter-spacing: -0.09vw;
    line-height: 2.5vw;
    font-family: "Manrope", sans-serif;
}

.qwefwef{
    padding-top: 1vw;
    padding-bottom: 0vw !important;
}
.iujeriwfiqwef{
    text-align: left !important;
}
.wuiqiebfbhdmsbjxb{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff8c3a;
    transition: all 0.3s ease;
}

.wuiqiebfbhdmsbjxb:hover{
        background-color: #ff8c3a5b;
}
.wuiqiebfbhdmsbjxb:active{
         background-color: #ff8c3a;
}


.title_article_article{
    padding-bottom: 2vw;
}

.title_article_article h1{
    font-size: 2.125vw;
    letter-spacing: -0.09vw;
    line-height: 2.5vw;
        margin-block-start: 0em;
    margin-block-end: 0em;
    padding-top: 2vw;
    padding-bottom: 0.7vw;
    font-family: "Manrope", sans-serif;
}

.title_article_article p{
    opacity: 0.5;
}

.content_of_content_article___{
    max-width: 60vw;
}

.ijfoeqrfjowefer{
    text-decoration: underline;
}

.content_article_artilce p{
    font-size: 1.2vw;
    padding-bottom: 1.25vw;
}

.content_article_artilce figure img{
    border: 2px solid #FF8B3A;
    border-radius: 2vw;
    height: 30vw;
    width: 54vw;
    object-fit: cover;
}
.content_article_artilce figure figcaption{
    padding-top: 1vw;
        opacity: 0.5;
}

.content_article_artilce figure{
    margin-block-start: 3em;
    margin-block-end: 3em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.content_article_artilce blockquote{
    margin-inline-start: 0px;
    background-color: var(--back);
    padding: 1.5vw;

    border-radius: 2vw;
    font-size: 1.25vw;
        margin-block-start: 1.5em;
    margin-block-end: 1.5em;
    color: white;
}

.content_artile_article h2{
        font-size: 2vw;
    letter-spacing: -0.05vw;
    line-height: 2.5vw;
        margin-block-start: 0em;
    margin-block-end: 0em;
    padding-top: 2vw;
    padding-bottom: 1.7vw;
    font-family: "Manrope", sans-serif;
}